@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.grupos {
    // 50% 50% === 0%, 50%, 50% 100%
    background-image: linear-gradient(to bottom, v.$primario 50%, v.$secundario 50%);
    @include m.tablet {
        background-image: linear-gradient(to right, v.$primario 50%, v.$secundario 50%);
    }
    .grupos__contenido {
        color: v.$blanco;   
        @include m.tablet {
            @include m.grid(2, 5rem);
        }
    }

    .grupos__grupo {
        display: flex;
        padding-block: 8rem;
        flex-direction: column;
        justify-content: center;
    }
    .grupos__heading {
        margin: 0 0 2rem 0;
    }
    .grupos__texto {
        color: inherit;
        margin: 0;
        font-size: 2rem;
    }

}